
.container{
  text-align: center;
  margin-top: 25px;
}
body{
  background-color:#c4e0e5;
  margin:0;
}
table{
  margin:auto;
}
input{
  font-size: 35px;
  border: 3px solid;
  width:412px;
  border-radius: 15px;
  height: 70px;
}
button{
font-size: 25px;
width: 102px;
height: 60px;
border-radius: 15px;
}
.calculator{
  display: inline-block;
  background-color: black;
}

/* #resultButton
{
  width: 204px;
} */

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
}


.styled-table-reactions {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border-collapse: collapse;
  font-size: 1.2em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table-reactions thead tr {
  
  background: #36454F;
  color: white;
  padding: 100px;
  text-align: left;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table-reactions th,
.styled-table-reactions td {
    padding: 12px 15px;
}



.styled-table  tr{
  border-bottom: 1px solid #dddddd;
}


.styled-table-reactions  tr{
  border-bottom: 1px solid #dddddd;
}


.styled-table  tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table-reactions  tr:nth-of-type(even) {
  background-color: #f3f3f3;
}



.styled-table  tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table  tr.active-row {
  font-weight: bold;
  color: #009879;
}


.styled-table-reactions  tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table-reactions  tr.active-row {
  font-weight: bold;
  color: #009879;
}

.downloadbtn{
  background-color: #36454F;
  text-align:center;
  align-items: center;
  color: white;
  font-size: 12px;
  margin: 15px 45%;
  width: 120px;
}

.footer{
  background-color: #333;
  font-size: 14px;
  margin-top: 150px;
  padding: 10px;
  text-align: center;
  color: white;
}

.footer a{
  color: #0088cc;
  text-decoration: none;
}

#resultButton
{
  width: 204px;
}




